@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #e5e9eb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

#root {
  width: 390px;
  min-height: 100vh;
  background: #f8f9fa;
  position: relative;
  overflow-x: hidden; /* clip horizontal only, sticky tetap bisa kerja */
}
